
<div class="Nav p-3">
    <div class="d-flex row " >
        <div class="col-8">
            <div class="d-flex ">
               <div class="pt-2">
                    <i class="bi bi-geo-alt" style="color: blue; font-size: 1.5rem; background-color: rgb(241, 240, 243); padding: 20%; border-radius: 100%;" ></i>
               </div>
               <div class="ml-2" style="margin-left: 15px;">
                    <b>erndwane <i class="bi bi-chevron-down"></i></b>
                    <div>dp road, pune</div>
               </div>
                
            </div>
        
    </div >
    <!-- if not sign in -->
    <div class="col d-flex cen res "><button type="button" class="btn btn-primary btn-sm "><i class="bi bi-person-fill"></i> Sign Up</button></div>

    <!-- if login -->
    <!-- <div class="col d-flex cen"><button type="button" class="btn btn-primary btn-sm "><i class="bi bi-person-fill"></i>Profile</button></div> -->

</div>    
