@media screen and (max-width: 600px) {
    .Nav{
      background-color: white;
    }
    .cen{
      justify-content: center;
      align-items: center;
    }

    
  }

  .cen{
    justify-content: flex-end;
    align-items: center;
  }

